@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 36 43% 93%;
  --foreground: 0 0% 0%;
  --primary: 144 50% 20%;
  --primary-foreground: 136 65% 97%;
  --primary-light: 126 17% 37%;
  --primary-light-foreground: 120 14% 96%;
  --primary-lighter: 89 33% 81%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 35 69% 94%;
    --foreground: 0 0% 0%;
  }
}

@layer base {
  body {
    @apply font-mono;
  }

  body * {
    @apply border-black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }

  .title-1 {
    @apply text-4xl;
  }

  .title-2 {
    @apply text-3xl;
  }

  .title-3 {
    @apply text-2xl;
  }

  .headline {
    @apply font-semibold text-base;
  }

  .body {
    @apply font-normal text-base leading-relaxed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
